/**
 * Custom CSS declarations
 *
 * If your server is registered, you can create a file named `custom.css`
 * in the `config` directory and populate it with CSS rules to override the
 * normal client styles, when the client is connected to your server. In
 * other words, you can use this facility to introduce a custom theme for
 * your server.
 */

.pm-window.focused h3:hover {
	background-color:##000000; 
	border-color:##000000;
}
.ps-room.ps-room-opaque{
background: url("http://i.imgur.com/Q8vHT0Y.png");
}

.ps-room.ps-room-light{
opacity:0.9;
}


.pm-window.focused h3 {
	background-color:##000000;
	border-color:##000000;
}

.pm-window h3 {
	background-color:#58ACFA;
	border-color:black;
}
.pm-window.focused h3, .pm-window.focused h3:hover {
background: #58ACFA;
border-color: black;
}

#header {
background:none;
}

.chat-log {
opacity:0.9;	
}

.pm-window h3 small  {
color:#58ACFA;        
border-color:black;
}
.pm-log-add {
	background-color:#013770;
	border-color:black;
}

.pm-log-add.focused {
	background-color:#00e1ff;
	border-color:#00e1ff;
}

.chat-log-add {
background:#A9E2F3 ;
color:#A9F5F2;
border-color: #FFFFFF;
}


body{background-image:url("http://i.imgur.com/25nxvyJ.jpg");background-repeat:no-repeat;background-position:center}
 
 
 	
 .menugroup .button{
 	background:#000000
 	border-color: #FFFFFF;
 	font-size: 8pt;
 	}
 
 .menugroup .button:hover{
 	background:#A9D0F5:
 	border-color: #FFFFFF;
 	font-size: 8pt;
 	}

.menugroup button.big {
    font-size: 8pt;
}
.menugroup {
text-align: center;
border-color: #FFFFFF;
font-size: 8pt;
opacity: .8;
color: #FFF;
background-position:center;
}

.tabbar a.button: {
background:#A9E2F3;
color: white;
border-color:black;
}

.tabbar a.button.cur, .tabbar a.button.cur:hover {
background:#A9E2F3;
color:white;
border-color:black ;
border-bottom: 0;
cursor: default;
padding-top: 3px;
padding-bottom: 5px;
top: 0px;
}
.maintabbarbottom {
background:#A9E2F3;
border-color: #FFFFFF;
}
.closebutton,.minimizebutton {
    color: #D5D5E8;
}

.closebutton:hover,.minimizebutton:hover {
    color: #D5D5E8;
}
.userlist {
border-left: 1px solid #03fff7;
background: url("http://www.zingerbug.com/Backgrounds/background_images/light_blue_parchment_paper_wallpaper_texture_seamless.jpg");
color:#2E64FE;
}
.userlist li em.group {
        font-style: normal;
        font-size: 8pt;
        color:#2E64FE;
        display: block;
        float: left;
        text-align: center;
        padding: 1px 0 0 1px;
        width: 14px;
}
.userlist li button:hover {
background:#CEF6F5;
}

.icon-muted {
  color: #2E64FE;
}

.userlist li {
border-bottom: 1px solid #2E64FE;
height: 19px;
font: 10pt Verdana, sans-serif;
white-space: nowrap;
}
.message-announce {
background:#0174DF;
outline: 2px solid white;
}

.infobox {
	border: 2px solid #6688AA;
	padding: 2px 4px;
background-color:#CEE3F6;
border-color:white;
}
.pad, .ps-popup, .pm-log{
background: url("http://i.imgur.com/Q8vHT0Y.png");
overflow: auto;
color: black;
border: 1px solid #000;
}
.statbar

{

position:absolute; 

display:none; 

width:200px; 
    
height:23px;
    
background:url(http://i.imgur.com/x76Yv1K.png); 
    
min-height:0px; 

padding:3px 0px 0px 32px}

.statbar strong

{

position:absolute; 
left:1px; 
top:-22px; 
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
font-size:17px; 
font-weight:normal; 
display:block; 
text-align:Center; 
color:#FFF; 
text-shadow:#000 1px 1px 0,#000 1px -1px 0,#000 -1px 1px 0,#000 -1px -1px 0}

.statbar strong small

{

font-size:17px; 
font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
color:#acc5d4;
font-weight:normal}

.statbar .hpbar

{

position:relative; 

border:1px solid #131313; 

background:url(http://i.imgur.com/ByYA9T2.png); 

height:6px; 

margin:0 0 0 0; 

width:151px; 

border-radius:0px; 

padding:0; 

top:3px}

.hptextborder{

display:none !important}
    

.statbar .hpbar .hp

{

height:3px; 

border-top:1px solid #007734; 

background:#00bb51; 

border-bottom:2px solid #007734; 

border-radius:0px}

.statbar .hpbar .hp-yellow

{

background-color:#f5d538; 

border-color:#be9f0a}

.statbar .hpbar .hp-red

{

background-color:#ee4928; 

border-color:#a3260d}

.statbar .hpbar .prevhp

{

background:url(http://i.imgur.com/ByYA9T2.png);  

height:6px; 

border-radius:0px}

.statbar .hpbar .prevhp-yellow

{

background:url(http://i.imgur.com/ByYA9T2.png); }

.statbar .hpbar .prevhp-red

{

background-color:#facec5}

.hptext{

margin-top:2px}

  
.statbar .hpbar .hptext

{

position:absolute; 

color:#FFFFFF; 

text-shadow:1px 0 black,-1px 0 black,0 1px black,0 -1px black; 

font-size:9px; 

width:32px; 

height:12px; 

top:-1px; 

text-align:center}

.rstatbar .hpbar .hptext

{

width:42px; 

height:16px; 

background:url(http://i.imgur.com/LPDWEbx.png); 

right:-47px; 

    top:-7px; 

    font-size:11px; 

    color:#49c39f; 

border-radius:0 4px 4px 0}
    
    

.lstatbar .hpbar .hptext

{

width:40px; 

height:16px; 

background:url(http://i.imgur.com/LPDWEbx.png); 

left:155px; 

 top:-7px; 

 font-size:11px; 

 color:#49c39f; 

border-radius:4px 0 0 4px; 

padding-left:2px}

.statbar .status

{

 margin-top:15px; 

min-height:10px; 

font-size:7pt}

  
.statbar span.frz

{

position:absolute; 

left:-107px; 

top:-5.5px; 
 
font-size:0px; 
    
background:url(http://i.imgur.com/L7UTW2y.png); 

padding:10px 36px; 

border:0; 

border-radius:3px} 
    
.statbar span.frz:hover{
    
transition:All 1.6116s ease;   
transform: rotate(0deg) scale(0.90) skew(0deg) translate(0px);
    
}    
    
    
.statbar span.slp

{

position:absolute; 

left:-107px; 

top:-5.5px; 
 
font-size:0px; 
    
background:url(http://i.imgur.com/D3VqIVw.png); 

padding:10px 36px; 

border:0; 

border-radius:3px}
    
.statbar span.slp:hover{
    
transition:All 1.6116s ease;    
transform: rotate(0deg) scale(0.90) skew(0deg) translate(0px);
    
}    
    
.statbar span.par

{

position:absolute; 

left:-107px; 

top:-5.5px; 
 
font-size:0px; 
    
background:url(http://i.imgur.com/4XrzuuB.png); 

padding:10px 36px; 

border:0; 

border-radius:3px} 
    
.statbar span.par:hover{
    
transition:All 1.6116s ease;    
transform: rotate(0deg) scale(0.90) skew(0deg) translate(0px);
    
}
       
    
.statbar span.brn

{

position:absolute; 

left:-107px; 

top:-5.5px; 
 
font-size:0px; 
    
background:url(http://i.imgur.com/4F0lebL.png); 

padding:10px 36px; 

border:0; 

border-radius:3px} 
    
.statbar span.brn:hover{
    
transition:All 1.6116s ease;    
transform: rotate(0deg) scale(0.90) skew(0deg) translate(0px);
    
}    
    
.statbar span.psn

{

position:absolute; 

left:-107px; 

top:-5.5px; 
 
font-size:0px; 
    
background:url(http://i.imgur.com/4wrWKR0.png); 

padding:10px 36px; 

border:0; 

border-radius:3px}    
    
.statbar span.psn:hover{
    
transition:All 1.6116s ease;    
transform: rotate(0deg) scale(0.90) skew(0deg) translate(0px);
    
}
    
.statbar span.bad

{

background:#e74c3c; 

color:#ecf0f1; 

border-color:#c0392b}

.statbar span.good

{

background:#27ae60; 

color:#ecf0f1; 

border-color:#067A37}

.statbar span.neutral

{

background:#7f8c8d; 

color:#ecf0f1; 

border:solid #2c3e50}


 


.backdrop {
    background-image: url("http://indigoserver.url.ph/images/backdrop.png")!important;
}
  .switchmenu button, .switchmenu button:disabled{
	background: url(http://i.imgur.com/qYAMtSx.png) !important;
    border: none;
    box-shadow: none;
    border-radius: 0;
  	font-size: 8pt;
}

.leftbar {
background-image: url(http://i.imgur.com/rFSFXGg.png);
}
.rightbar {
background-image: url(http://i.imgur.com/rFSFXGg.png);
}

/* WEATHER */
.sunweather,
.sunnydayweather
{
        background: #FFEEBB url(http://files.myopera.com/cgunay/albums/9786222/sun.gif) no-repeat scroll left top;
        color: #664411;
        text-shadow: #000000 1px 1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 -1px -1px 0;
}
.rainweather,
.raindanceweather
{
        background: #99BBFF url(http://www.dustinhetrick.com/rain.gif) no-repeat scroll left top;
        color: #0044BB;
        text-shadow: #000000 1px 1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 -1px -1px 0;
}
.sandstormweather
{
        background: #E6E0AC url(http://25.media.tumblr.com/tumblr_m1yxsiY1431r4zr2vo1_500.gif) no-repeat scroll left top;
        color: #554433;
        text-shadow: #000000 1px 1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 -1px -1px 0;
}
.hailweather
{
        background: #AADDEE url(http://24.media.tumblr.com/fd5267ff1121b0d3eb331a2bf831f0de/tumblr_mujst5GqFn1rlaox0o1_500.gif) no-repeat scroll left top;
        color: #114455;
        text-shadow: #000000 1px 1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 -1px -1px 0;
}
.pseudoweather
{
        background: #DDAAEE url(//play.pokemonshowdown.com/fx/weather-trickroom.png) no-repeat scroll left top;
        color: #661155;
        text-shadow: #000000 1px 1px 0, #000000 1px -1px 0, #000000 -1px 1px 0, #000000 -1px -1px 0;
}

.tournament-title {
text-decoration: underline overline;
background: url(http://i.imgur.com/rFSFXGg.png);
color: white;
font-family: Georgia;
}
 
.tournament-status, .tournament-toggle {
background: url(http://i.imgur.com/PCS1aNk.png);
color: white
}
.tournament-box {
background: url("http://i.imgur.com/Q8vHT0Y.png");
}

.tournament-bracket {
background: url("http://i.imgur.com/Q8vHT0Y.png");
}

.tournament-message-end-bracket {
font-family: Georgia;
}
.tournament-message-end-bracket-overflowing {
font-family: Georgia;
}
.tournament-bracket-tree-node-match-team {
font-family: Georgia;
}
.tournament-wrapper {
font-family: Georgia;
}
.tournament-join:hover,
.tournament-leave:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}

.tournament-join.active,
.tournament-leave.active {
	position:relative;
	top:1px;
}

.broadcast-omega {
	background-color:#A9D0F5;
border: 2px solid #fff;#5882FA
color:black ;
	padding: 2px 4px;
}
.bluebutton {
	-moz-box-shadow:inset -7px 4px 1px 0px #bbdaf7;
	-webkit-box-shadow:inset -7px 4px 1px 0px #bbdaf7;
	box-shadow:inset -7px 4px 1px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0px;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:18px;
	font-weight:bold;
	font-style:italic;
	height:40px;
	line-height:40px;
	width:94px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.bluebutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}
.bluebutton:active {
	position:relative;
	top:1px;}

/*Attack Buttons */


.movemenu button.type-Normal{
    background: #8a8a59 url(http://ih0.redbubble.net/image.11095063.6127/sticker,375x360.png);
}
.movemenu button.type-Normal:hover{
    background: #79794e url(http://ih0.redbubble.net/image.11095063.6127/sticker,375x360.png);
}

.movemenu button.type-Fire{
    background: #dd6610 url(http://images1.wikia.nocookie.net/__cb20111215174030/pokemontowerdefense/images/9/93/Pokemon_TCG-fireEnergy.gif);
}
.movemenu button.type-Fire:hover{
    background: #b4530d url(http://images1.wikia.nocookie.net/__cb20111215174030/pokemontowerdefense/images/9/93/Pokemon_TCG-fireEnergy.gif);
}

.movemenu button.type-Water{
    background: #386ceb url(http://s93053262.onlinehome.us/icons/DeoxysPrime/pokemon_TCG-waterEnergy.gif);
}
.movemenu button.type-Water:hover{
    background: #1753e3 url(http://s93053262.onlinehome.us/icons/DeoxysPrime/pokemon_TCG-waterEnergy.gif);
}

.movemenu button.type-Electric{
    background: #f0c108 url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRkEoQHu_ekLWMPHSRDjz95-g-iZVraCF47lGyBwh5o7icMsL2AZSJncQ);
}
.movemenu button.type-Electric:hover{
    background: #c19b07 url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRkEoQHu_ekLWMPHSRDjz95-g-iZVraCF47lGyBwh5o7icMsL2AZSJncQ);
}

.movemenu button.type-Grass{
    background: #5ca935 url(http://guaranteedoutdoorsolutions.com/images/staugustine.jpg);
}
.movemenu button.type-Grass:hover{
    background: #4a892b url(http://guaranteedoutdoorsolutions.com/images/staugustine.jpg);
}

.movemenu button.type-Ice{
    background: #69c6c6 url(http://bizmology.wpengine.netdna-cdn.com/wp-content/uploads/2012/04/Ice.jpg);
}
.movemenu button.type-Ice:hover{
    background: #45b6b6 url(http://bizmology.wpengine.netdna-cdn.com/wp-content/uploads/2012/04/Ice.jpg);
}

.movemenu button.type-Fighting{
    background: #9d2721 url(http://img1.etsystatic.com/018/0/6574851/il_170x135.486597891_d2gh.jpg);
}
.movemenu button.type-Fighting:hover{
    background: #82211b url(http://img1.etsystatic.com/018/0/6574851/il_170x135.486597891_d2gh.jpg);
}

.movemenu button.type-Poison{
    background: #803380 url(http://www.umnet.com/pic/diy/screensaver/2/purple-goo--29675.jpg);
}
.movemenu button.type-Poison:hover{
    background: #662966 url(http://www.umnet.com/pic/diy/screensaver/2/purple-goo--29675.jpg);
}

.movemenu button.type-Ground{
    background: #d4a82f url(http://fc05.deviantart.net/fs70/i/2010/292/9/8/seamless_ground_texture_by_hhh316-d312eb5.jpg);
}
.movemenu button.type-Ground:hover{
    background: #aa8623 url(http://fc05.deviantart.net/fs70/i/2010/292/9/8/seamless_ground_texture_by_hhh316-d312eb5.jpg);
}

.movemenu button.type-Flying{
    background: #9180c4 url(http://images2.layoutsparks.com/1/238605/moon-over-mistral-sky.jpg);
}
.movemenu button.type-Flying:hover{
    background: #7762b6 url(http://images2.layoutsparks.com/1/238605/moon-over-mistral-sky.jpg);
}

.movemenu button.type-Psychic{
    background: #f61c5d url(http://s93053262.onlinehome.us/icons/DeoxysPrime/pokemon_TCG-psychicEnergy.gif);
}
.movemenu button.type-Psychic:hover{
    background: #d60945 url(http://s93053262.onlinehome.us/icons/DeoxysPrime/pokemon_TCG-psychicEnergy.gif);
}

.movemenu button.type-Bug{
    background: #8d9a1b url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ6z6F0jMX7vZXe3YNv9Von918LbFBy_frxs1Iep4-_Rjhq2eXZ);
}
.movemenu button.type-Bug:hover{
    background: #616b13 url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ6z6F0jMX7vZXe3YNv9Von918LbFBy_frxs1Iep4-_Rjhq2eXZ);
}

.movemenu button.type-Rock{
    background: #93802d url(http://thejealousyfiles.files.wordpress.com/2012/04/rocks.jpg);
}
.movemenu button.type-Rock:hover{
    background: #746523 url(http://thejealousyfiles.files.wordpress.com/2012/04/rocks.jpg);
}

.movemenu button.type-Ghost{
    background: #554374 url(http://images2.layoutsparks.com/1/33033/purple-dark-green-light.jpg);
}
.movemenu button.type-Ghost:hover{
    background: #413359 url(http://images2.layoutsparks.com/1/33033/purple-dark-green-light.jpg);
}

.movemenu button.type-Dragon{
    background: #4c08ef url(http://images2.wikia.nocookie.net/__cb20111228155021/lucerne/images/8/84/7qmd5a0v.jpg);
}
.movemenu button.type-Dragon:hover{
    background: #3d07c0 url(http://images2.wikia.nocookie.net/__cb20111228155021/lucerne/images/8/84/7qmd5a0v.jpg);
}

.movemenu button.type-Dark{
    background: #513f34 url(http://www.freefever.com/stock/black-background-wood.jpg);
}
.movemenu button.type-Dark:hover{
    background: #362a23 url(http://www.freefever.com/stock/black-background-wood.jpg);
}

.movemenu button.type-Steel{
    background: #9797ba url(http://www.damajority.com/wp-content/uploads/2012/09/Wallpapers-room_com___industrial_steel_hd_wallpack_by_miatari_1600x12001.jpeg);
}
.movemenu button.type-Steel:hover{
    background: #7a7aa7 url(http://www.damajority.com/wp-content/uploads/2012/09/Wallpapers-room_com___industrial_steel_hd_wallpack_by_miatari_1600x12001.jpeg);
}

.movemenu button.type-undefined, .movemenu button.type-undefined:hover{
    background: url(http://i.imgur.com/ee2HfDF.png);
}

.movemenu button {
color:#000000
}
.switchmenu button{
	color: white;            
    text-shadow: 1px 1px black;
}


.turnstatus-protect{
    background:url(http://i.imgur.com/RVxCoHz.png); 
    opacity:1!important;
    height:103px!important;
    width:150px!important;
    border-radius:0; 
    border-width:0; 
    box-shadow:none; 
}
    .sidecondition-reflect{
    background:url(http://i.imgur.com/X1XDxVB.png); 
    opacity:0.7!important;
    height:90px!important;
    width:130px!important;
    border-radius:0; 
    border-width:0; 
    box-shadow:none;
}
    
    .sidecondition-safeguard{
    background:url(http://i.imgur.com/FrCoWCW.png); 
    opacity:0.6!important;
    height:90px!important;
    width:130px!important;
    border-radius:0; 
    border-width:0; 
    box-shadow:none; 
}
    
        .sidecondition-lightscreen{
    background:url(http://i.imgur.com/8eLftNA.png); 
    opacity:0.6!important;
    height:90px!important;
    width:130px!important;
    border-radius:0; 
    border-width:0; 
    box-shadow:none; 
}

.userbar:before{

     background:url(http://i.imgur.com/G9FpoXs.png); 
     left:-5px}

.battle-log-add{

    border-color:#3e393a; 

    background:url(http://i.imgur.com/urdZ7Vg.png); 

    text-shadow:1px 1px black
    color:white;
    }
    
.battle-log{
	background:url(http://i.imgur.com/9L0Dg26.png);
       color: white;
}    
.battle-log .chat strong
{
        color: white;
}
.battle-log .chat em
{
        padding: 1px 4px 1px 3px;
        color: white;
        font-style: normal;
}
.battle-log .chat em.mine
{
        color: white; 
}
.challenge {
background: none;
}
